body {
    background-color: darkgrey;
    margin: 0px;
}

.nav-bar {
    display: flex;
    padding: 10px;
    background-color: white;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    margin: 10px;
    font-family: 'Goldman', cursive;
    font-size: 34px;
    text-align: center;
    border: 3px;
    padding: 20px;
    padding-right: 150px;

    
}

.my-logo {
    height: 80px;
    width: 75px;
    border-radius: 25px;
    margin: 5px;
    margin-right: 150px;
    
}

.social-media {
    height: 35px;
    width: 35px;
    border: 3px;
    padding: 20px;
    display: flex;
    align-content: flex-end;

}


footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: rgba(187, 42, 42, 0.664);
    background-color: black;
    width: 100%;
    padding: 10px;
    
}